<div>
<span style="font-size:0.8em;">
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ā');">ā</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ī');">ī</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ū');">ū</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ṅ');">ṅ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ñ');">ñ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ṭ');">ṭ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ḍ');">ḍ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ṇ');">ṇ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ḷ');">ḷ</button>
<button style="padding-left:0.5em;padding-right:0.5em;" onClick="paliInput.insertChar('ṃ');">ṃ</button>
<span style="font-size:1.2em;font-weight:bold;cursor:pointer;" title="Also: =a, =i, =u, ^n, ~n, .t, .d, .n, .l, .m">&nbsp;?</span>
</span>
</div>
<div style="padding: 3px">
<input type="text" id="textinput" placeholder="{{ include.placeholder }}" spellcheck="false" size="30"> <span><button onClick="paliInput.clear();">Clear</button> <button onClick="paliInput.refresh();">Refresh</button> <button onClick="{{ include.function }}">{{ include.button }}</button></span>
</div>
<script>
const paliInput = {};
paliInput.textInputElem = document.getElementById("textinput");
paliInput.charTable = { "=a": "ā", "=i": "ī", "=u": "ū", "\\^n": "ṅ", "~n": "ñ", "\\.t": "ṭ", "\\.d": "ḍ", "\\.n": "ṇ", "\\.l": "ḷ", "\\.m": "ṃ" };
paliInput.textInputElem.addEventListener("keydown", function(event) {
	if (event.key === "Enter")
		{{ include.function }}
});
paliInput.insertChar = function(ch) {
	this.textInputElem.value = this.textInputElem.value + ch;
	this.textInputElem.focus();
};
paliInput.clear = function() {
	this.textInputElem.value = "";
	this.textInputElem.focus();
	{{ include.after_clear }}
};
paliInput.processChars = function() {
	let text = this.textInputElem.value;
	for (const ch in this.charTable) {
		const regex = new RegExp(ch, "g");
		text = text.replace(regex, this.charTable[ch]);
	}
	text = text.replace(/ṁ/g, "ṃ");
	return text;
};
paliInput.setText = function(text) {
	this.textInputElem.value = text;
};
paliInput.getText = function() {
	this.refresh();
	return this.processChars();
};
paliInput.refresh = function() {
	this.textInputElem.value = this.processChars();
};
</script>
